body {
    font-size: 14px;
    background-color: #F7F7F7;
    margin: 0;
    font-family: 'Open Sans',Arial,sans-serif;
}

a{
    text-decoration: none;
}


.h1-first {
    color: #00713D;
}

.h1-second {
    color: #45AA42;
}

#first-header {
    
    background-color: #00713D;
    width: 100%;
    height: 50px; 
    margin: 0;
    padding: 0;
    color: white;
}

#logo {
    position: relative;
    left: 390px; 
}


#contact {
    left: 1051px;
    text-decoration: none;
    color: white;
    position: absolute;
    margin-top: 17px;
}

#contact:hover {
    color: #E6E6E6;
}

#social {
    position: relative;
    left: 930px;
}

#my-cart {
    position: relative;
    left: 926px;
    border-right: 1px solid #00582f;
}

select {
    font-size: 14px;
    border: none;
    color: white;
    background-color: transparent;
    position: relative;
    left: 1415px; 
    padding-top: 1px;
}

select:hover {
    color: #E6E6E6;
    cursor: pointer;
}


#first-header select {
    position: absolute;
    margin-top: 15px;
}

#second-header {
    font-size: 14px;
    background-color: #45AA42;
    width: 100%;
    height: 50px;
    margin-bottom: 22px;
    
    
}

#second-header ul {
    position: relative;
    left: 916px;
    
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
    
}

#second-header li {
    display: inline-block;
    color: white;
    text-align: center;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 12px;
}

#second-header a {
    color: white;
    height: 20px;
    width: 39px;
}

#second-header a:hover {
    color: #E6E6E6; 
}

#main-page {
    position: relative;
    left: 397px; 
}

#full-pad-top{    
    height: 360px;
    width: 1080px;
    background-color: white;    
    border-bottom: 4px solid #ddd;
    padding: 15px;
    padding-top: 14px;
}

.button-success {
    color: white;
    background-color: #45AA42;
    border: none;
    
    height: 35px;
    display: block;
    text-decoration: none;
}

.button-success:hover {
    background-color: #3A8F37;
    cursor: pointer;  
}

#full-pad-top button{
    width: 230px;
}

#full-pad-bot button{
    width: 130px;
}



#image-wrapper {
    display: inline-block;
    height: 359px;
    width: 1080px;
    background-image: url(assets/images/banner01.png);
    background-repeat: no-repeat;
    padding-bottom: 1px;
}

.small-pads{
    margin-top: 20px;
    background-color: white;
    display: inline-block;
    border-bottom: 4px solid #ddd;
    margin-right: 25px;  
    margin-bottom: 25px; 
    width: 320px;
   
    padding: 15px;
}

.small-pads img{
    height: 227.7px;
    width: 320px;
}

.small-pads button {
    width: 320px;
    height: 40px;
   
    margin-right: 12px;
   
}

#full-pad-bot{
    display: inline-block;
    height: 360px;
    width: 1080px;
    background-color: white;
    border-radius: 0;
    border-bottom: 4px solid #ddd;
    margin: 0 0 20px 0;
}

footer {
    
}

#first-footer {
    
    background-color: #028046;
    width: 100%;

}

#second-footer {
    
    background-color: #00713D;
    width: 100%;
   
}