body {
    font-size: 14px;
    background-color: #F7F7F7;
    margin: 0;
    font-family: 'Open Sans',Arial,sans-serif;
}

#first-header {
    
    background-color: #00713D;
    width: 100%;
    height: 50px; 
    margin: 0;
    padding: 0;
}

#logo {
    position: relative;
    left: 387px; 
}


#contact {
    left: 1049px;
    text-decoration: none;
    color: white;
    position: absolute;
    margin-top: 17px;
}

#contact:hover {
    color: #C2CDD1;
}

#social {
    position: relative;
    left: 910px;
}

#my-cart {
    position: relative;
    left: 900px;
    border-left: 1px solid black;
}

select {
   position: relative;
    left: 1390px; 
}

#first-header select {
    position: absolute;
    margin-top: 15px;
}

#second-header {
    font-size: 14px;
    background-color: #45AA42;
    width: 100%;
    height: 50px;
    margin-bottom: 22px;
    
    
}

#second-header ul {
    position: relative;
    left: 898px;
    
    list-style-type: none;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    
}

#second-header li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
}

#second-header a {
    text-decoration: none;
    color: white;
    height: 20px;
    width: 39px;
}

#main-page {
    position: relative;
    left: 400px;
   
    
}

#full-pad-top{    
    height: 380px;
    width: 1080px;
    background-color: white;    
    border-bottom: 4px solid #ddd;
    padding: 10px;
}

#image-wrapper {

    height: 350px;
    width: 1050px;
    background-image: url(assets/images/banner01.png);
    background-repeat: no-repeat;
}

.small-pads{
    margin-top: 20px;
    background-color: white;
    display: inline-block;
    border-bottom: 4px solid #ddd;
    margin-right: 25px;  
    margin-bottom: 25px;  
}

#full-pad-bot{
    display: inline-block;
    height: 360px;
    width: 1080px;
    background-color: white;
    border-radius: 0;
    border-bottom: 4px solid #ddd;
    margin: 0 0 20px 0;
}

footer {
    
}

#first-footer {
    
    background-color: #028046;
    width: 100%;

}

#second-footer {
    
    background-color: #00713D;
    width: 100%;
   
}